/* COLORES PALETA  
#azul de fondo #191F2F
#rosa #DA7BC9
#naranja bordes #FCCC90
#verde #A2CC98
*/
input::placeholder,
textarea::placeholder {
    text-indent: 10px; /* Ajusta este valor según la cantidad de margen que desees */
}

#box-Con {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    border-top: 1px solid #DA7BC9;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
#box-Con h2 {
    color: #A2CC98;
    font-size: 2rem;
}
#box-Con input {
    width: 30rem;
    height: 3rem;
    border: 1px solid #FCCC90;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    padding-left: 0.7rem;
    color: #FCCC90;
}
#input-consulta {
    width: 40rem;
    height: 10rem;
    border: 1px solid #FCCC90;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 0.7rem;
    padding: 0.7rem;
    color: #FCCC90;
}
#box-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: auto;
    width: 40rem;
}
#box-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: auto;
    width: 41rem;
}
#box-textarea button {
    background-color: #FCCC90;
    color: black;
    border: 1px solid #FCCC90;
}
#box-textarea button:hover {
    background-color: #191F2F;
    color: #DA7BC9;
    border: 1px solid #FCCC90;
}